        <div class="flex w-[4rem] h-[55%] border-2 border-gray-600 rounded-full p-[1px] mt-[8px] gap-[1px]">
            <div *ngIf="value >= 1" class="w-1/5 h-full bg-green-500 rounded-l"></div>
            <div *ngIf="value >= 2" class="w-1/5 h-full bg-lime-500"></div>
            <div *ngIf="value >= 3" class="w-1/5 h-full bg-yellow-500"></div>
            <div *ngIf="value >= 4" class="w-1/5 h-full bg-orange-500"></div>
            <div *ngIf="value >= 5" class="w-1/5 h-full bg-red-500 rounded-r"></div>
        </div>