<div class="flex justify-center">
    <div class="flex w-4/5 mt-3 flex-col">
        <div class="flex gap-5 w-full">
            <div class="w-[70%]">
              <div class="flex justify-center">
                <div class="text-2xl">Рецепти</div>
              </div>
              <div *ngIf="Recipes.length == 0" class="flex justify-center">
                <div >За заданим фільтром пошуку нічого не знайдено</div>
              </div>
              <div *ngFor="let item of Recipes">
                <app-recipe-row (onClick)="recipe(item.recipeId)" [item]="item"></app-recipe-row>
                <hr>
              </div>
              <div class="flex justify-center pt-2 pb-20 items-center">
                <div class="flex h-[40px] w-[200px] bg-googleRed items-center justify-center text-white font-semibold hover:cursor-pointer hover:bg-red-600 active:brightness-90 transition-colors" *ngIf="Recipes.length != 0 && !endOfFilter" (click)="PushNew()">
                  Завантажити більше
                </div>
              </div>
            <div>
                
              </div>
            </div>
            <div class="flex flex-col gap-2 w-[30%]">
                <div class="flex justify-center">
                  <div class="text-2xl">Фільтри</div>
                </div>
                <!--FORM-->
                <form [formGroup]="forma" class="flex flex-col gap-1">
                    <div class="flex items-center gap-3">
                        <div>Назва: </div>
                        <input type="text" id="name" formControlName="name" class="appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                          placeholder="Назва рецепту" />
                    </div>
                    <div class="custom-slider flex items-center gap-3 h-12">
                      <div>Складність:</div>
                        <ngx-slider [(value)]="difficultyMin" [(highValue)]="difficultyMax" [options]="sliderDifficultyOptions"></ngx-slider>
                    </div>
                    <div class="flex items-center gap-3 w-full">
                      <div class="w-[55%]">
                        <span>Час приготування: <span class="hidden lg:inline text-gray-500">(у хвилинах)</span></span> 
                      </div>
                      <div class="flex gap-1 w-[45%]">
                        <div class="w-1/2">
                          <input type="number" id="requiredTimeMin" formControlName="requiredTimeMin" class="w-full appearance-none border border-gray-400 rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            placeholder="Мін" />
                        </div>
                        <div class="w-1/2">
                          <input type="number" id="requiredTimeMin" formControlName="requiredTimeMax" class="w-full appearance-none border border-gray-400 rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            placeholder="Макс" />
                        </div>
                      </div>
                    </div>

                    <div class="flex items-center gap-3 justify-between">
                      <div>Тип кухні:</div>
                      <ng-multiselect-dropdown
                      class="w-[75%]"
                      [placeholder]="'Виберіть тип кухні'"
                      [settings]="multipleDropdownSettings"
                      [data]="foodList"
                      [(ngModel)]="selectedFoodItems"
                      [ngModelOptions]="{standalone: true}"
                      >
                      </ng-multiselect-dropdown>
                    </div>

                    <div class="flex items-center gap-3 justify-between">
                      <div>Тип блюда:</div>
                      <ng-multiselect-dropdown
                      class="w-[75%]"
                      [placeholder]="'Виберіть тип блюда'"
                      [settings]="multipleDropdownSettings"
                      [data]="dishList"
                      [(ngModel)]="selectedDishItems"
                      [ngModelOptions]="{standalone: true}"
                      >
                      </ng-multiselect-dropdown>
                    </div>

                    <div class="flex items-center gap-3 justify-between">
                      <div>Тип меню:</div>
                      <ng-multiselect-dropdown
                      class="w-[75%]"
                      [placeholder]="'Виберіть тип меню'"
                      [settings]="multipleDropdownSettings"
                      [data]="menuList"
                      [(ngModel)]="selectedMenuItems"
                      [ngModelOptions]="{standalone: true}"
                      >
                      </ng-multiselect-dropdown>
                    </div>
                    
                    <div class="flex items-center gap-3 justify-between">
                      <div>Інгредієнти:</div>
                      <ng-multiselect-dropdown
                      class="w-[75%]"
                      [placeholder]="'Виберіть інгредієнти'"
                      [settings]="multipleDropdownSettings"
                      [data]="ingredientList"
                      [(ngModel)]="selectedIngredientItems"
                      (onFilterChange)="onFilterChange($event)"
                      [ngModelOptions]="{standalone: true}"
                      >
                      </ng-multiselect-dropdown>
                    </div>

                    <div class="flex flex-col gap-1">
                      <div class="flex text-xs">
                        <label class="flex items-center gap-1"> <input type="radio" value=false formControlName="asIngredientPool"> Шукати рецепти, що містять усі наведені інгредієнти</label>
                      </div>
                      <div class="text-xs">
                        <label class="flex items-center gap-1"><input type="radio" value=true formControlName="asIngredientPool">Шукати рецепти, які можна приготувати з наведених інгредієнтів</label>
                      </div>
                    </div>

                    <div class="flex items-center customDropdown gap-3 justify-between">
                        <div>Сортувати за:</div>
                        <div class="flex w-[75%] h-full gap-2">
                          <ng-multiselect-dropdown class="w-full"
                          [placeholder]="'Метод сортування'"
                          [settings]="dropdownSettings"
                          [data]="sortList"
                          [(ngModel)]="selectedSortItem"
                          [ngModelOptions]="{standalone: true}"
                          >
                          </ng-multiselect-dropdown>

                          <div (click)="isDescending=!isDescending" *ngIf="!isDescending" class="h-full aspect-square border border-gray-400 rounded text-center hover:cursor-pointer">
                              <fa-icon [icon]="ascIcon" class="text-2xl text-gray-800 group-hover:text-gray-950 transition-colors"></fa-icon>
                          </div>
                          <div (click)="isDescending=!isDescending" *ngIf="isDescending" class="h-full aspect-square border border-gray-400 rounded text-center hover:cursor-pointer">
                              <fa-icon [icon]="descIcon" class="text-2xl text-gray-800 group-hover:text-gray-950 transition-colors"></fa-icon>
                          </div>
                          </div>
                    </div>
                    <!--PatternSaving-->
                    <div *ngIf="global.isAuth" class="flex gap-1 w-full">
                      <div *ngIf="!isPatternCreating" class="customDropdown w-full">
                        <ng-multiselect-dropdown class="w-max"
                              [placeholder]="'Оберіть збережений шаблон'"
                              [settings]="dropdownSettings"
                              [data]="patternList"
                              [(ngModel)]="selectedPatternList"
                              [ngModelOptions]="{standalone: true}"
                              (onSelect)="patternSelect($event)"
                              (onDeSelect)="patternDeselect($event)"
                              >
                              </ng-multiselect-dropdown>
                      </div>

                      <div *ngIf="isPatternChosen">
                        <button (click)="patternDelete()" class="rounded w-nim text-textPrimary bg-googleRed p-1.5" type="button">Видалити</button>
                      </div>
                      <div *ngIf="isPatternChosen">
                        <button (click)="patternUpdate()" class="rounded w-nim text-textPrimary bg-yellow-500 p-1.5 transition-colors " [ngClass]="{'bg-yellow-500' : !isPatternSaved, 'bg-lime-500' : isPatternSaved}" type="button">{{!isPatternSaved ? "Зберегти" : "Збережено"}}</button>
                      </div>

                      <div *ngIf="isPatternCreating" class="w-full">
                        <input required type="text" id="patternName" formControlName="patternName" class="appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                          placeholder="Назва шаблону (обов'язково)" />
                      </div>
                      <div *ngIf="isPatternCreating">
                        <button (click)="patternCancel()" class="rounded w-nim text-textPrimary bg-googleRed p-1.5" type="button">Відмінити</button>
                      </div>
                      <div *ngIf="isPatternCreating">
                        <button (click)="patternUpdate()" class="rounded w-nim text-textPrimary bg-yellow-500 p-1.5 transition-colors " [ngClass]="{'bg-yellow-500' : !isPatternSaved, 'bg-lime-500' : isPatternSaved}" type="button">{{!isPatternSaved ? "Зберегти" : "Збережено"}}</button>
                      </div>
                    </div>
                    <div class="flex text-center w-full justify-center">
                      <button (click)="Filtered()" class="rounded text-textPrimary bg-googleRed w-full h-10 text-xl hover:bg-red-600 transition-colors active:brightness-90" type="button">Пошук</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
