<section class="flex m-1 hover:cursor-pointer gap-2 transition-colors hover:bg-gray-100" (click)="itemClicked()">
    <div class="flex h-[100px] overflow-hidden rounded">
        <img *ngIf="item.image != null" src = "{{BaseUrl}}{{item.image}}" alt="" class="h-100 object-contain p-1">
        <img *ngIf="item.image == null" src = "../../../assets/images/recipeStepPlaceholderTransparent.png" alt="" class="h-100 object-contain p-1">
    </div> 
    <div class="relative flex flex-col w-[90%]">
        <div class="flex gap-5 items-baseline w-full">
          <div class="font-bold mb-0 text-lg w-max">{{item.name}}</div>
          <div class="flex flex-row gap-1 w-max">
            <fa-icon [icon]="clockIcon" class="text-gray-700"></fa-icon>
            <div *ngIf="item.requiredTime<=60">
                {{item.requiredTime}} хвилин
            </div>
            <div *ngIf="item.requiredTime>60">
                {{item.requiredTime/60}} годин
            </div>
          </div>
          <div class="flex flex-row w-max gap-1">
            <fa-icon [icon]="difficultyIcon" class="text-gray-700"></fa-icon>
            <div class="flex flex-row gap-2 h-min">
                <span>Складність:</span> 
                <app-bar [value]="item.difficulty"></app-bar>
            </div>
          </div>
        </div>
        <div class="font-semibold">
            Автор: <span class="font-normal">{{item.author}}</span>
        </div>
        <div class="line-clamp-2">
          {{item.description}}
        </div>
        <div *ngIf="editable"  class="absolute flex flex-row top-2 right-2 gap-3">
            <div (click)="itemDeleteClicked($event)" class="flex bg-red-500 h-7 w-20 rounded text-white items-center justify-center z-10 hover:bg-red-600">
                <span >Видалити</span>
            </div>
            <div (click)="itemEditClicked($event)" class="flex bg-yellow-400 h-7 w-24 rounded text-white items-center justify-center z-10 hover:bg-yellow-500">
                Редагувати
            </div>
        </div>
    </div>  
  </section>