<form *ngIf="!isLoadingForm" [formGroup]="formGr" class="flex justify-center">
    <div class="flex w-4/5 mt-3 flex-col">
        <div class="flex gap-5">
            <div class="w-[29%]">
                <app-gallery [Images]="RecipeImages" class="flex" [ngClass]="{'h-[400px]': Recipe.images.length != 0, 'h-[300px]': Recipe.images.length == 0}"></app-gallery>
            </div>
            <div class="flex flex-col gap-4 w-[71%]">
                <div>
                    <input required type="text" id="name" formControlName="name" class="appearance-none border border-gray-400 rounded w-2/3 py-2 px-3 text-3xl text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                          placeholder="Назва рецепту" />
                </div>
                <div class="flex flex-col gap-1">
                    <div class="flex flex-row gap-1 items-center">
                        <div>
                            <fa-icon [icon]="clockIcon" class="text-gray-700"></fa-icon>
                        </div>
                        <div>
                            Час приготування: <input type="number" id="requiredTime" formControlName="requiredTime" class="w-20 appearance-none border border-gray-400 rounded py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="" /> хвилин
                        </div>
                    </div>
                    <div class="flex flex-row gap-1 items-center">
                        <div>
                            <fa-icon [icon]="portionIcon" class="text-gray-700"></fa-icon>
                        </div>
                        <div>
                            Порцій: <input type="number" id="servings" formControlName="servings" class="w-20 appearance-none border border-gray-400 rounded py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="" />
                        </div>
                    </div>
                    <div class="flex h-[30px] items-center">
                        <div class="flex flex-row gap-2 h-min">
                            <fa-icon [icon]="difficultyIcon" class="text-gray-700"></fa-icon>
                            <div class="flex flex-row gap-2">
                                <span>Складність:</span> 
                                <app-bar [value]="difficulty.value" [editable]="true" (changed)="changeDifficulty($event)"></app-bar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-1">
                    <div class="flex flex-row gap-1">
                        <fa-icon [icon]="caloricIcon" class="text-gray-700 w-5"></fa-icon>
                        <div class="flex w-full gap-1"> 
                            <div class="w-[10%]">
                                Калорійність:
                            </div> 
                            <input type="number" id="caloricValue" formControlName="caloricValue" class="w-20 appearance-none border border-gray-400 rounded py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm" placeholder="" />
                            <div>
                                ккал. 
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row gap-1">
                        <fa-icon [icon]="proteinsIcon" class="text-gray-700 w-5"></fa-icon>
                        <div class="flex w-full gap-1"> 
                            <div class="w-[10%]">
                                Білків:
                            </div> 
                            <input type="number" id="proteins" formControlName="proteins" class="w-20 appearance-none border border-gray-400 rounded py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm" placeholder="" /> 
                            <div>
                                гр. 
                            </div> 
                        </div>
                    </div>
                    <div class="flex flex-row gap-1">
                        <fa-icon [icon]="fatsIcon" class="text-gray-700 w-5"></fa-icon>
                        <div class="flex w-full gap-1"> 
                            <div class="w-[10%]">
                                Жирів:
                            </div> 
                            <input type="number" id="fats" formControlName="fats" class="w-20 appearance-none border border-gray-400 rounded py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm" placeholder="" />
                            <div>
                                гр. 
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row gap-1">
                        <fa-icon [icon]="carboIcon" class="text-gray-700 w-5"></fa-icon>
                        <div class="flex w-full gap-1"> 
                            <div class="w-[10%]">
                                Вуглеводів:
                            </div> 
                            <input type="number" id="carbohydrates" formControlName="carbohydrates" class="w-20 appearance-none border border-gray-400 rounded py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm" placeholder="" /> 
                            <div>
                                гр. 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="customDropdown flex items-center gap-2">
                    <div class="w-[10%]">Тип кухні:</div>
                    <ng-multiselect-dropdown
                    class="w-[35%]"
                    [placeholder]="'Виберіть тип кухні'"
                    [settings]="dropdownSettings"
                    [data]="foodList"
                    
                    formControlName="foodType"
                    >
                    </ng-multiselect-dropdown>
                  </div>

                <div class="customDropdown flex items-center gap-2">
                    <div class="w-[10%]">Тип страви:</div>
                    <ng-multiselect-dropdown
                    class="w-[35%]"
                    [placeholder]="'Виберіть тип страви'"
                    [settings]="dropdownSettings"
                    [data]="dishList"
                    
                    formControlName="dishType"
                    >
                    </ng-multiselect-dropdown>
                  </div>

                  <div class="flex items-center gap-2">
                    <div class="w-[10%]">Тип меню:</div>
                    <ng-multiselect-dropdown
                    class="w-[35%]"
                    [placeholder]="'Виберіть тип меню (або декілька)'"
                    [settings]="multipleDropdownSettings"
                    [data]="menuList"
                    
                    formControlName="menuType"
                    >
                    </ng-multiselect-dropdown>
                  </div>
                <div class="flex flex-col gap-2">
                    <p class="text-lg">Опис рецепту:</p>
                    <p class="text-justify text-gray-600">
                        <textarea type="textarea" formControlName="description" id="description" placeholder="(Необов'язково)" class="indent-8 min-h-[100px] h-min appearance-none border border-gray-400 pl-1 py-1 rounded w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
                    </p>
                </div>
                <div class="flex flex-col gap-2">
                    <h2 class="text-2xl">Рецепт</h2>
                    <div>
                        <h3 class="text-lg">Вступна інформація/Початкові поради</h3>
                        <div *ngIf="this.preparationTips.controls.length != 0" class="flex flex-col gap-2">
                            <div class="flex flex-col gap-1" formArrayName="preparationTips">
                                <div *ngFor="let prep of this.preparationTips.controls; let i = index" class="flex gap-2">
                                    <div class="w-full">
                                        <textarea id="preparationTips-{{i}}" type="textarea" [formControlName]="i"  class = "indent-8 min-h-[70px] h-min appearance-none border border-gray-400 pl-1 py-1 rounded w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
                                    </div>
                                    <div (click)="remprep(i)" class="flex bg-red-500 h-7 w-20 rounded text-white items-center justify-center z-10 hover:bg-red-600 hover:cursor-pointer">
                                        <span >Видалити</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button (click)="addprep()" class="w-max p-2 bg-yellow-500 hover:brightness-95 rounded text-white">Додати пораду</button>
                    </div>
                    <div class="flex flex-col">
                        <h3 class="text-lg">Інструкції</h3>
                        <div *ngIf="this.steps.controls.length != 0" class="flex flex-col">
                            <div class="flex flex-col gap-5 mb-5" formArrayName="steps">
                                <div *ngFor="let group of this.steps.controls; let i = index"  class="flex">
                                    <div class="flex w-full gap-3" [formGroupName]="i">
                                        <div class="grid place-items-center w-[20%]">
                                            <div *ngIf="!isImageSaved[i]" class="flex items-center justify-center w-full">
                                                <label class="flex flex-col items-center justify-center aspect-[3/2] w-full border-2 border-gray-300 border-dashed rounded-lg cursor-pointer hover:bg-gray-100">
                                                    <div class="flex flex-col items-center justify-center text-center pt-5 pb-6">
                                                        <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                                                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Натисніть щоб завантажити</span> або перетягніть та відпустіть</p>
                                                        <p class="text-xs text-gray-500 dark:text-gray-400">PNG, JPG, JPEG </p>
                                                    </div>
                                                    <input (change)="uploadDocument(i, $event)" id="dropzone-file" type="file" class="hidden" accept=".png, .jpg, .jpeg" />
                                                    {{i}}
                                                </label>
                                            </div> 
                                            <div *ngIf="isImageSaved[i]" class="w-full">
                                                <div class="flex relative">
                                                    <img src="{{images[i].get('source')}}" class="w-auto h-auto max-w-[100%] max-h-[100%] object-contain rounded">
                                                    <button (click)="remPhoto(i)" class="absolute flex items-center justify-center right-1 top-1 bg-red-500 h-5 w-5 aspect-square rounded-full hover:brightness-90 hover:cursor-pointer">
                                                        {{i}}
                                                        <fa-icon [icon]="xIcon" class="flex text-center text-white text-sm"></fa-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="h-full bg-gray-300 w-[2px] rounded"></div>
                                        <div class="flex flex-col gap-2 w-[80%]">
                                            <div class="w-full">
                                                <input required type="text" id="title" formControlName="title" class="appearance-none border border-gray-400 rounded w-full py-2 px-3 text-lg text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                    placeholder="Заголовок кроку" />
                                            </div>
                                            <div  class="w-full">
                                                <textarea type="textarea" formControlName="description"  class = "min-h-[70px] h-min appearance-none border border-gray-400 pl-2 py-1 rounded w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Опис"></textarea>
                                            </div>
                                            <div class="flex justify-end">
                                                <button (click)="reminstr(i)" class="w-min p-1 rounded bg-red-500 text-white">Видалити крок</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button (click)="addinstr()" class="w-max p-2 bg-yellow-500 hover:brightness-95 rounded text-white">Додати крок</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" (click)="Submit()" class="">Submit</button>
    </div>
</form>