<div class="flex justify-center">
    <div class="flex w-4/5 mt-3 flex-col">
        <div class="flex gap-5">
            <div class="w-[29%]">
                <app-gallery [Images]="Recipe.images" class="flex" [ngClass]="{'h-[400px]': Recipe.images.length != 0, 'h-[300px]': Recipe.images.length == 0}"></app-gallery>
                
            </div>
            <div class="flex flex-col gap-2 w-[71%]">
                <div>
                    <h1 class="flex items-end gap-1 text-3xl">
                        {{Recipe.name}}
                    </h1>
                    <div>
                        <p class="text-md">Автор: <a href="#" class="text-blue-900">{{Recipe.userName}}</a></p>
                    </div>
                </div>
                <div class="flex flex-row gap-2">
                    <a
                        class="bg-gray-500 text-gray-50 rounded-full px-2 hover:cursor-pointer hover:bg-gray-400 transition-colors">
                        {{Recipe.foodType}} </a>
                    <a
                        class="bg-gray-500 text-gray-50 rounded-full px-2 hover:cursor-pointer hover:bg-gray-400 transition-colors">
                        {{Recipe.dishType}} </a>
                    <a class="bg-gray-500 text-gray-50 rounded-full px-2 hover:cursor-pointer hover:bg-gray-400 transition-colors"
                        *ngFor="let menuTypes of Recipe.menuTypes">{{menuTypes}}</a>
                </div>
                <div class="flex flex-row gap-5">
                    <div class="flex flex-row gap-1"><!--Ratings-->
                        <div class="flex relative w-min">
                            <div class="flex flex-row rounded text-yellow-500 absolute overflow-hidden" style="width:{{(Recipe.rating??0)*20}}%">
                                <fa-icon [icon]="starIcon"></fa-icon>
                                <fa-icon [icon]="starIcon"></fa-icon>
                                <fa-icon [icon]="starIcon"></fa-icon>
                                <fa-icon [icon]="starIcon"></fa-icon>
                                <fa-icon [icon]="starIcon"></fa-icon>
                            </div>
                            <div class="flex flex-row rounded text-red-500 absolute justify-around items-center w-full h-full">
                                <fa-icon (mouseenter)="hoverStar(1)" (mouseleave)="unhoverStar()" (click)="chooseStar(1)" [ngClass]="choosingStar == 1 ? 'text-red-500' : 'text-transparent'" class="text-[10px] cursor-pointer p-[0.2rem]" [icon]="starIcon"></fa-icon>
                                <fa-icon (mouseenter)="hoverStar(2)" (mouseleave)="unhoverStar()" (click)="chooseStar(2)" [ngClass]="choosingStar == 2 ? 'text-red-500' : 'text-transparent'" class="text-[10px] cursor-pointer p-[0.2rem]" [icon]="starIcon"></fa-icon>
                                <fa-icon (mouseenter)="hoverStar(3)" (mouseleave)="unhoverStar()" (click)="chooseStar(3)" [ngClass]="choosingStar == 3 ? 'text-red-500' : 'text-transparent'" class="text-[10px] cursor-pointer p-[0.2rem]" [icon]="starIcon"></fa-icon>
                                <fa-icon (mouseenter)="hoverStar(4)" (mouseleave)="unhoverStar()" (click)="chooseStar(4)" [ngClass]="choosingStar == 4 ? 'text-red-500' : 'text-transparent'" class="text-[10px] cursor-pointer p-[0.2rem]" [icon]="starIcon"></fa-icon>
                                <fa-icon (mouseenter)="hoverStar(5)" (mouseleave)="unhoverStar()" (click)="chooseStar(5)" [ngClass]="choosingStar == 5 ? 'text-red-500' : 'text-transparent'" class="text-[10px] cursor-pointer p-[0.2rem]" [icon]="starIcon"></fa-icon>
                            </div>
                            <div class="flex flex-row rounded text-gray-200">
                                <fa-icon [icon]="starIcon"></fa-icon>
                                <fa-icon [icon]="starIcon"></fa-icon>
                                <fa-icon [icon]="starIcon"></fa-icon>
                                <fa-icon [icon]="starIcon"></fa-icon>
                                <fa-icon [icon]="starIcon"></fa-icon>
                            </div>
                        </div>
                        <div>
                            {{Recipe.amountOfRates??0}} відгуків
                        </div>
                    </div>
                    <div>
                        <fa-icon *ngIf="Recipe.isFavorite" (click)="changeFav()" [icon]="favIcon" class="transition-colors text-gray-700 hover:cursor-pointer"></fa-icon>
                        <fa-icon *ngIf="!Recipe.isFavorite" (click)="changeFav()"  [icon]="favIconOut" class="transition-colors text-gray-700 hover:cursor-pointer"></fa-icon>
                        {{Recipe.amountOfFavorites??0}} людей зберегли рецепт
                    </div>
                </div>
                <div class="flex flex-row gap-5">
                    <div class="flex flex-row gap-1">
                        <fa-icon [icon]="clockIcon" class="text-gray-700"></fa-icon>
                        <div *ngIf="Recipe.requiredTime<=60">
                            {{Recipe.requiredTime}} хвилин
                        </div>
                        <div *ngIf="Recipe.requiredTime>60">
                            {{Recipe.requiredTime/60}} годин
                        </div>
                    </div>
                    <div class="flex flex-row gap-2">
                        <fa-icon [icon]="portionIcon" class="text-gray-700"></fa-icon>
                        <div>
                            {{Recipe.amountOfServings}} порцій
                        </div>
                    </div>
                    <div class="flex flex-row gap-2">
                        <fa-icon [icon]="difficultyIcon" class="text-gray-700"></fa-icon>
                        <div class="flex flex-row gap-2">
                            <span>Складність:</span> 
                            <app-bar [value]="Recipe.difficulty"></app-bar>
                        </div>
                    </div>
                </div>
                <div class="flex-col gap-1">
                    <div *ngIf="Recipe.caloricValue!=null" class="flex flex-row gap-1">
                        <fa-icon [icon]="caloricIcon" class="text-gray-700 w-5"></fa-icon>
                        <span> Калорійність: {{Recipe.caloricValue}} ккал. </span>
                    </div>
                    <div *ngIf="Recipe.proteins!=null" class="flex flex-row gap-1">
                        <fa-icon [icon]="proteinsIcon" class="text-gray-700 w-5"></fa-icon>
                        <span> Білків: {{Recipe.proteins}} гр. </span>
                    </div>
                    <div *ngIf="Recipe.fats!=null" class="flex flex-row gap-1">
                        <fa-icon [icon]="fatsIcon" class="text-gray-700 w-5"></fa-icon>
                        <span> Жирів: {{Recipe.fats}} гр. </span>
                    </div>
                    <div *ngIf="Recipe.carbohydrates!=null" class="flex flex-row gap-1">
                        <fa-icon [icon]="carboIcon" class="text-gray-700 w-5"></fa-icon>
                        <span> Вуглеводів: {{Recipe.carbohydrates}} гр. </span>
                    </div>
                </div>
                <p class="indent-8 text-justify">
                    {{Recipe.description}}
                </p>
            </div>
        </div>

        <div class="flex gap-5">
            <div class="flex flex-col w-[29%] gap-3 relative">
                <div class="flex flex-col sticky top-0 gap-4">
                    <div class="flex flex-col h-full overflow-y-auto max-h-screen scrollbar-thin scrollbar-thumb-gray-400 scrollbar-thumb-rounded scrollbar-track-rounded scrollbar-track-gray-100">
                        <div class="relative">
                            <div *ngIf="Recipe.video !== null">
                                <h2 class="text-2xl pb-2">Відео рецетпу</h2>
                                <div class="relative h-full w-full">
                                    <div class="absolute w-full aspect-video bg-gray-100 z-[-1] animate-pulse rounded"></div>
                                    <iframe class="w-full aspect-video rounded" [src]="sanitizedVideo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="Recipe.ingredients.length != 0">
                            <div>
                                <span class="text-2xl">Інгредієнти</span>
                            </div>
                            <div class="grid grid-cols-[max-content_auto] gap-x-3">
                                <ng-container *ngFor="let ingr of Recipe.ingredients">
                                    <div>
                                            - {{ingr.name}}:
                                    </div>
                                    <div>
                                            {{ingr.amount}} {{ingr.measurement}}   
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="Recipe.preparationTips.length != 0 || Recipe.additionalTips.length != 0 || Recipe.steps.length != 0" class="flex flex-col w-[71%] gap-2">
                <h2 class="text-2xl">Рецепт</h2>
                <div class="flex flex-col gap-1">
                    <p *ngFor="let prep of Recipe.preparationTips" class="indent-8 text-justify">
                        {{prep}}
                    </p>
                </div>
                <div class="flex flex-col gap-5">
                    <div *ngFor="let step of Recipe.steps" class="flex w-full gap-3">
                        <div class="grid place-items-center w-[20%] aspect-square">
                            <img *ngIf="step.image !== null" src="{{BaseUrl+step.image}}" class="w-auto h-auto max-w-[100%] max-h-[100%] object-contain rounded">
                            <img *ngIf="step.image === null" src="../../../assets/images/recipeStepPlaceholderTransparent.png" class="w-auto h-auto max-w-[100%] max-h-[100%] object-contain rounded">
                        </div>
                        <div class="h-full bg-gray-300 w-[2px] rounded"></div>
                        <div class="flex flex-col w-[80%]">
                            <h3 class="text-xl">{{step.title}}</h3>
                            <p>{{step.description}}</p>
                        </div>
                    </div>
                </div> 
                <div class="flex flex-col gap-1">
                    <p *ngFor="let addition of Recipe.additionalTips" class="indent-8 text-justify">
                        {{addition}}
                    </p>
                </div>
                <div class="h-[30px]"></div>
            </div>
        </div>
        <div></div><!--TODO: Comments-->
    </div>
</div>