<nav class="flex justify-between items-center bg-headerPrimary h-16">
  <div class="flex items-center space-x-3">
    <img class="ml-2 h-10" src="..\..\..\assets\images\icon.png">
    <a href="#" class="mainText"> Link </a>
    <a href="#" class="mainText"> LongLink </a>
    <a href="#" class="mainText"> ShL </a>
    <a href="#" class="mainText"> NotALink </a>
    <a href="#" class="mainText"> Bob</a>
  </div>
  <div class="flex items-center space-x-3 mr-2">
    <button (click)="loginRedir()" class="rounded text-textPrimary bg-googleRed p-1.5 ">Sign In with Google</button>
  </div>
</nav>