<nav class="flex justify-between items-center bg-headerPrimary h-16">
  <div class="flex items-center space-x-3">
    <img class="ml-2 h-10" src="..\..\..\assets\images\icon.png">
    <a href="#" class="text-textPrimary hover:text-textHovered"> Link </a>
    <a href="#" class="text-textPrimary hover:text-textHovered"> LongLink </a>
    <a href="#" class="text-textPrimary hover:text-textHovered"> ShL </a>
    <a href="#" class="text-textPrimary hover:text-textHovered"> NotALink </a>
    <a href="#" class="text-textPrimary hover:text-textHovered"> Bob</a>
  </div>
  <div class="flex items-center space-x-3 mr-2">
    <div *ngIf="isAuth" class="text-textPrimary">Hello, {{UserName}}</div>
    <button (click)="random()" class="rounded text-textPrimary bg-googleRed p-1.5 ">Random</button>
    <button *ngIf="!isAuth && !codeUpdating" (click)="loginRedir()" class="rounded text-textPrimary bg-googleRed p-1.5 ">Sign In with Google</button>
    <button *ngIf="isAuth" (click)="logout()" class="rounded text-textPrimary bg-googleRed p-1.5 ">LogOut</button>
  </div>
</nav>